.login-form-container {
  height: auto;
  width: 100%;
	min-height:100vh;
	background-image:url(../../assets/background.png);
	background-size:cover;
  background-position:center;
}

textarea { 
   /* will prevent resizing horizontally */
   max-width: 90%;
   min-width: 150px;
   min-height:200px;
   color:#000000;
}