<div class="login-form-container">
  <div class="form-container">
    <form #AddForm="ngForm" (ngSubmit)="onFormSubmit(AddForm.value)" class="form">
      <h4 class="form-header">
      {{Title}}
      </h4>
      

	  
	  <div class="control">
        <label for="Subject">Creation Date</label>
        <input ngModel [(ngModel)]='CreationDate' name="CreationDate" type="text" readonly>
      </div>
	  
	  
	  <div class="control">
        <label for="Subject">Subject</label>
        <input ngModel [(ngModel)]='Subject' name="Subject" type="text" readonly>
      </div>
	  
	   <div class="control">
        <label for="Priority">Priority</label>
        <input ngModel [(ngModel)]='Priority' name="Priority" type="text" readonly>
      </div>
	  
	  <div class="control" *ngIf="Privacy">
        <label for="Privacy">Privacy</label>
        <input ngModel [(ngModel)]='Privte' name="Privacy" type="text" readonly>
      </div>
	  
	  
	  <div class="control" *ngIf="!Privacy">
        <label for="Privacy1">Privacy</label>
        <input ngModel [(ngModel)]='Public' name="Privacy1" type="text" readonly>
      </div>
	  
	  <div class="control">
        <label for="Tags">Tags</label>
        <input ngModel [(ngModel)]='Tags' name="Tags" type="text" readonly>
      </div>
	  
	  <div class="control">
        
		<label for="Schedules">Schedules</label>
        
		<br>
		
	   <div class="row" *ngFor="let X of Dates">
        
          <div>&nbsp; &nbsp; {{X.date}} 
		  
	    </div>
		</div>
	  
	   </div>
	  
	  
	  
	   <div class="control">
        <label for="Content">Content</label>
        <textarea ngModel [(ngModel)]='Content' name="Content" type="text" readonly></textarea>
      </div>
	  
	  <div class="control">
        <button class="btn" type="button" (click)="Back()">Back</button>
      </div> 
	  
	
    </form>
  </div>
</div>
