<div class="container">
  <!--<p>Hi, {{get_users()}}</p>-->


  <figure>
    <img src="http://raptoredu.com/data/uploads/blog/ct1.png" alt="Memorize Helper" width="500" height="200" />
    <figcaption >Memorize Helper </figcaption>
</figure>

<div class="form-group purple-border">
  <textarea placeholder="Add title .." class="form-control" id="exampleFormControlTextarea4" rows="2" cols="50"></textarea>
  <input type="checkbox" class="form-check-input" id="materialUnchecked">
  <label class="form-check-label" for="materialUnchecked"type="checkbox"> <font color="orange">Public</font> </label>
</div>

<div class="form-group green-border-focus">
  <textarea placeholder="Add Content ..." class="form-control" id="exampleFormControlTextarea5" rows="9" cols="62"></textarea>
</div>

<select class="mdb-select md-form colorful-select dropdown-primary" multiple searchable="Search here..">
  <option value="" disabled selected>the importance</option>
  <option value="1">High</option>
  <option value="2">Medium</option>
  <option value="3">Low</option>
</select>
  <div class="form-group purple-border">
    <textarea placeholder="Add tags .." class="form-control" id="exampleFormControlTextarea4" rows="4" cols="62"></textarea>
    
  </div>
 
  
  <button class="btn" (click)="logout()">logout</button>
</div>
