<div class="login-form-container">
  <div class="form-container">
    <form #AddForm="ngForm" (ngSubmit)="onFormSubmit(AddForm.value)" class="form">
      <h4 class="form-header">
      <!--{{Title}}-->
      </h4>
      
      <div class="control">
        <label for="Search" >Search</label>
        <input ngModel id="Searchtext" name="Searchtext" type="text" placeholder="Enter the title here...">
             </div>
      <div class="control">
        <button class="btn" type="button" (click)="SearchNow()">Search Now</button>
      </div> 
	  <h1></h1>
      <div class="row" *ngFor="let X of AllData" style="margin-bottom:15px;">

        <div class="col-md-1"><p> {{X.title}} </p></div>

<div class="col-md-1"><button (click)="View(X)" type="button" class="btn btn-default " >View</button></div>
<div class="col-md-1"><button (click)="Clone(X)" type="button" class="btn btn-default " >Clone</button></div>


</div>



 <h1></h1>
	  <div class="control">
        <button class="btn" type="button" (click)="Back()">Back</button>
      </div> 
	  
	
    </form>
  </div>
</div>
