<div class="login-form-container">
  <div class="form-container">
    
	<div class="form">
      <h4 class="form-header">
        {{Username}}
        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
      </h4>
      <h4></h4>
	  <h4></h4>
       <div class="row" *ngFor="let X of AllData">

                <div class="col-md-1"><p> {{X.title}} </p></div>
				
				<div class="col-md-1"><button (click)="View(X)" type="button" class="btn btn-default ">View</button></div>

				
				<div class="col-md-1"><button type="button" class="btn btn-default">Edit</button></div>

                <div class="col-md-1"><button type="button"  class="btn btn-default ">Delete</button></div>
      
	  </div>
	  
	  <h4></h4>
	  <h4></h4>
	   
	   <div class="control">
        <button  class="btn" (click)="AddNew()">Add New Unit</button>
      </div>
	  
	   <div class="control">
        <button  class="btn" (click)="LogOut()">Log Out</button>
      </div>
     
    </div>
  </div>
</div>
